<div class="container vh-100">
  <h2 class="display-4 my-4">My profile</h2>

  <form action="/users" accept-charset="UTF-8" method="post">
    <div class="row form-group">
      <label class="col-6 col-md-2 col-form-label text-left">E-mail</label>
      <div class="col-6 col-md-4">
        <input class="form-control" type="text" placeholder="<%= @user.email %>" readonly>
      </div>
    </div>
    <div class="row form-group align-items-center">
      <label class="col-sm-2 col-form-label text-left">Full name</label>
      <div class="col-sm-4">
        <p class="mb-0"><%= @user.full_name %></p>
      </div>
    </div>
    <div class="row form-group align-items-center">
      <label class="col-sm-2 col-form-label text-left">Address</label>
      <div class="col-sm-4">
        <p class="mb-0"><%= @user.address %></p>
      </div>
    </div>
    <br>
    <%= link_to 'Update profile', edit_user_path(@user), class: "btn btn-outline-secondary" %>
    </form>
    <br>
    <br>
  <div class="container d-flex">
    <div class="row">
      <div class="col-sm-3">
        <%= link_to 'My Beer Orders', orders_path, class: "btn btn-warning text-white" %>
      </div>
      <div class="col-sm-3">
        <%= link_to 'My Beer Sales', user_sales_path(user_id: current_user), class: "btn btn-warning text-white" %>
      </div>
      <div class="col-sm-3">
        <%= link_to 'My Beer For Sale', user_for_sale_path(user_id: current_user), class: "btn btn-warning text-white" %>
      </div>
    </div>
  </div>
</div>
