<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow">
  <div class="container my-3">
    <%= link_to beers_path, class: "navbar-brand" do %>
      <%= image_tag "logo-beer.png" %>
    <% end %>

    <div class="main">
      <form action=<%beers_path%>>
        <div class="input-group">
          <input type="text" name="query" class="form-control" placeholder="Busque cerevejas, estilos e mais...">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <% if false %>
    <%= form_tag beers_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Busque cerevejas, estilos e mais..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <% if user_signed_in? %>
            <%= link_to "My Profile", user_path(current_user), class: "nav-link" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sell Beer', new_beer_path, class:  "nav-link btn btn-warning text-white" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "refrigerator.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My Orders", orders_path, class: "dropdown-item" %>
              <%= link_to "My Sales", user_sales_path(user_id: current_user), class: "dropdown-item" %>
              <%= link_to "My Offers", user_for_sale_path(user_id: current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
