<p id="notice"><%= notice %></p>

<h1>Beers</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.category %></td>
        <td><%= beer.description %></td>
        <td><%= beer.price %></td>
        <td><%= beer.quantity %></td>
        <%#= Aqui estamos utilizando o email do usuário para demonstração %>
        <%#= Ao inves de vermos o user_id veremos o email do user %>
        <td><%= beer.user.email %></td>
        <td><%= link_to 'Show', beer %></td>
        <% if policy(beer).edit? %>
          <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <% end %>
        <% if policy(beer).destroy? %>
          <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(Beer).new? %>
  <%= link_to 'New Beer', new_beer_path %>
<% end %>