<div class="container">
  <h1>Beer List</h1>

  <div class="row row-cols-1 row-cols-md-4">
    <% @beers.each do |beer| %>
      <div class="col mb-4 index-card">
        <div class="card h-100 border-0 p-2">
          <%= cl_image_tag beer.photo.key if beer.photo.attached? %>
          <div class="card-body">
            <h5 class="card-title text-secondary mb-1"><%= beer.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= beer.category %></h6>
            <p class="text-center font-weight-bold">R$ <%= beer.price %></p>
            <a href="<%= beer_path(beer) %>" class="stretched-link"></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  <% if policy(Beer).new? %>
   <p> <%= link_to 'Sell Beer', new_beer_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
